*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#nav{
	width: 100%;
	background-color: black;
}
.nav-content{
	display: flex;
	align-items: center;
	margin-right: 10px;
}
.nav-content div{
	margin: 10px;
}
.nav-content div a{
	position: relative;
	text-decoration: none;
	color: white;
}
.nav-content div a::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	border-bottom: 1px solid red;
	transition: 0.5s all linear;
}
.nav-content div a:hover::before{
	width: 100%;
}

@media(max-width:1000px){
	.mob-nav{
		display: block!important;
	}
}

.mob-nav{
	position: fixed;
	top:0;
	width: 100%;
	display: none;
	background-color: black;
	color: white;
}
.inner-nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.nav-logo img{
	width: 150px;
	height: 100px;
}
#burger{
	font-size: 30px;
	margin: 10px;
	padding: 20px;
	cursor: pointer;
}



#mob-navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	z-index: 100000;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 1s all linear;
}
#close{
	position: absolute;
	top: 30px;
	right: 20px;
	cursor: pointer;
	font-size: 30px;
}
.mob-inner-nav{
	width: 50%;
	display: flex;
	justify-content: center;
}
@media(max-width:800px){
	.mob-inner-nav{
		width: 80%;
	}
	.nav-items a{
		font-size: 20px!important;
	}
}
.nav-items{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.nav-items div{
	margin: 20px;
}
.nav-items a{
	text-decoration: none;
	font-size: 30px;
	font-family: sans-serif;
	letter-spacing: 2px;
	color: aliceblue;
	transition: 0.5s all linear;
	padding: 10px;
	border-radius: 10px;
}
.nav-items a:hover{
	box-shadow: 2px 2px 5px #adaeae;
}
.text{
	position: relative;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.text h1{
	font-size: 50px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}
.bkgrnd{
	position: relative;
	width: 100%;
}
.bkgrnd img{
	position: absolute;
	width: 100%;
	height: 100;
}
